[user]
	name = ken koontz
	email = kenneth.koontz@gmail.com
[core]
	autocrlf = input
	safecrlf = true
	editor = /usr/local/bin/vim
	excludesfile = /Users/kenneth/.gitignore_global
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	type = cat-file -t
	dump = cat-file -p

[color]
	branch = auto
	diff = auto
	status = auto
	ui = true
[color "branch"]
	current = yellow reverse
	local = yellow 
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[credential]
	helper = osxkeychain
[merge]
	tool = vimdiff
[push]
	default = matching
[difftool "sourcetree"]
	cmd = /Applications/PyCharm.app/Contents/MacOS/pycharm diff $LOCAL $REMOTE
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/PyCharm.app/Contents/MacOS/pycharm merge $LOCAL $REMOTE $BASE $MERGED
	trustExitCode = true
[diff]
	tool = vimdiff
